@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai-Light.ttf") format("ttf"), url("../fonts/Almarai-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai-Regular.ttf") format("ttf"), url("../fonts/Almarai-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai-Bold.ttf") format("ttf"), url("../fonts/Almarai-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai-ExtraBold.ttf") format("ttf"), url("../fonts/Almarai-ExtraBold.ttf") format("ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
body {
  direction: rtl;
  font-size: 16px;
  font-family: "Almarai", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.overflow-body {
  overflow: hidden;
}

a {
  text-decoration: none;
}

svg {
  max-width: 100%;
}

@media (min-width: 1200px) {
  .container {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
  }
}
.follow-link {
  color: #feb200;
  text-decoration: none;
  transition: 0.5s;
}
.follow-link:hover {
  color: #feb200;
  text-decoration: none;
}
.follow-link.with-icon {
  display: flex;
  align-items: center;
}
.follow-link.with-icon .icon__ {
  margin-inline-end: 5px;
}

.button-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  border-radius: 25px;
  padding: 12px 73px;
  background-color: #581b81;
  transition: 0.5s;
  font-weight: bold;
  transition: 0.5s;
}
@media (max-width: 450px) {
  .button-link {
    font-size: 12px;
    padding: 10px 20px;
  }
}
.button-link:hover {
  background-color: #feb200;
}

.custom-button {
  background-color: transparent;
  border: none;
  padding: 0;
  display: block;
  cursor: pointer;
  outline: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.custom-button .custom-icon {
  margin-inline-end: 10px;
}
.custom-button.modify-button {
  border-radius: 5px;
  border: 1px solid #feb200;
  color: #feb200;
  height: 32px;
  min-width: 87px;
}
.custom-button.modify-button:hover {
  background-color: rgba(254, 178, 0, 0.1);
}
.custom-button.delete-button {
  border-radius: 5px;
  border: 1px solid #f54748;
  color: #f54748;
  height: 32px;
  min-width: 87px;
}
.custom-button.delete-button:hover {
  background-color: rgba(245, 71, 72, 0.1);
}

.buttons-group.flex-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons-group.flex-group.group-gap {
  gap: 15px;
}
.buttons-group.flex-group.none-margin {
  margin: 0;
}

.contacts-buttons-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #d9e0e5;
  padding: 16px;
}
@media (max-width: 991px) {
  .contacts-buttons-block {
    flex-direction: column;
  }
}

.overlay {
  display: none;
}
@media (max-width: 991px) {
  .overlay {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 11;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  .overlay.active {
    opacity: 0.7;
    visibility: visible;
  }
}

::-moz-selection {
  color: #fff;
  background: #581b81;
}

::selection {
  color: #fff;
  background: #581b81;
}

@media only screen and (min-width: 991px) {
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #581b81;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #581b81;
  }
  .dropdown-menu {
    /* width  of scrollbar*/
  }
  .dropdown-menu .inner::-webkit-scrollbar {
    width: 2px;
  }
}
/*loading*/
/*lazyload*/
.loading-omd {
  background-color: #fafafa !important;
  position: relative;
  overflow: hidden;
}
.loading-omd img {
  opacity: 0 !important;
  filter: blur(40px);
}

.figure-img {
  margin: 0;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
}
.figure-img img {
  max-width: 100%;
  max-height: 100%;
  transition: 0.5s;
  height: auto;
}

.figure-effect {
  position: relative;
  padding-bottom: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
}
.figure-effect img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}

.custom-figure {
  margin: 0;
}

.close-button {
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  top: 14px;
  left: 20px;
}
.close-button:hover, .close-button:focus {
  outline: none;
}
html[dir=ltr] .close-button {
  right: 20px;
  left: unset;
}
.close-button::after, .close-button::before {
  content: "";
  display: block;
  width: 2px;
  height: 20px;
  position: absolute;
  background-color: #fff;
  top: 4px;
  right: 10px;
  transform: rotate(-45deg);
  transition: 0.5s;
}
.close-button::before {
  transform: rotate(45deg);
}
.close-button:hover::after, .close-button:hover::before {
  background-color: red;
}

.site_link {
  padding: 0 26px;
  background-color: #581b81;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 162px;
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10px;
}
@media (max-width: 991px) {
  .site_link {
    min-width: 100px;
  }
}
.site_link:hover {
  background-color: rgba(88, 27, 129, 0.9);
  text-decoration: none;
  color: #fff;
}
.site_link .icon__ {
  margin-inline-start: 6px;
}

.custom-section {
  padding-top: 80px;
  margin-bottom: 70px;
}

@media (max-width: 1200px) {
  .custom-section {
    padding-top: 40px;
    margin-bottom: 35px;
  }
}
@media (max-width: 450px) {
  .custom-section {
    padding-top: 20px;
    margin-bottom: 14px;
  }
}
.site-heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .site-heading-wrapper {
    flex-direction: column;
  }
}
.site-heading-wrapper .site-heading {
  margin-bottom: 0;
  padding-top: 10px;
}

.site-heading {
  margin-bottom: 50px;
  padding-bottom: 10px;
}
@media (max-width: 991px) {
  .site-heading {
    text-align: center;
  }
}
.site-heading .title {
  font-size: 30px;
  font-weight: 400;
  color: #581b81;
}
@media (max-width: 991px) {
  .site-heading .title {
    font-size: 25px;
  }
}
.site-heading .subtitle {
  font-size: 20px;
  color: #a8a8a8;
  font-weight: normal;
}

.arrow-sec {
  display: flex;
  align-items: center;
}
.arrow-sec .swiper-button-prev,
.arrow-sec .swiper-button-next {
  transform: unset;
  margin: 0;
  position: static;
  margin-inline-start: 10px;
  flex-shrink: 0;
}

.site-heading-wrapper.with-figure .site-heading {
  display: flex;
  gap: 10px;
}
.site-heading-wrapper.with-figure .site-heading figure {
  position: relative;
}
@media (max-width: 450px) {
  .site-heading-wrapper.with-figure .site-heading figure img {
    width: 70px;
    height: 70px;
  }
}
.site-heading-wrapper.with-figure .site-heading figure::before {
  position: absolute;
  content: "";
  width: 120px;
  height: 120px;
  background-color: #f9e9f3;
  top: 0px;
  left: 40px;
  border-radius: 50%;
  z-index: -1;
}
@media (max-width: 450px) {
  .site-heading-wrapper.with-figure .site-heading figure::before {
    width: 75px;
    height: 75px;
  }
}
.site-heading-wrapper.with-figure .site-heading .title {
  width: 50%;
  color: #35253e;
}

.site-heading-wrapper.info .site-heading .date-info span {
  color: #a8a8a8;
  font-size: 20px;
}

.dropdown__ {
  position: relative;
}
.dropdown__ > a,
.dropdown__ .butt__ {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  color: #2a313d;
  font-size: 14px;
}
.dropdown__ > a::after,
.dropdown__ .butt__::after {
  content: url(../images/shapes/arrow-down.svg);
  margin: 0;
  margin-right: 0;
  display: inline-block;
  vertical-align: middle;
  border: none !important;
  margin-top: 0;
  margin-inline-start: 6px;
  height: 18px;
}
@media (max-width: 991px) {
  .dropdown__ > a::after,
  .dropdown__ .butt__::after {
    transform: scale(0.5);
  }
}
.dropdown__ > a:hover,
.dropdown__ .butt__:hover {
  text-decoration: none;
}
.dropdown__ .sub-menu__ {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  display: table;
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: #fff;
  z-index: -1;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
  border: none;
  transform-origin: center 0;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  padding: 12px 17px;
  border-radius: 0;
  transform: translateX(-50%);
}
@media (max-width: 991px) {
  .dropdown__ .sub-menu__ {
    min-width: 152px;
  }
}
.dropdown__ .sub-menu__ li:not(:last-child) {
  margin-bottom: 10px;
}
.dropdown__ .sub-menu__ li a {
  font-size: 14px;
  font-weight: 500;
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.5s;
  color: #feb200;
  padding: 0;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.dropdown__ .sub-menu__ li a::before {
  margin-inline-end: 10px;
}
.dropdown__ .sub-menu__ li a:hover {
  text-decoration: underline;
}
.dropdown__ .sub-menu__ li a.modify::before {
  content: url(../images/header_logedIn_menu/user.svg);
}
.dropdown__ .sub-menu__ li a.orders::before {
  content: url(../images/header_logedIn_menu/document.svg);
}
.dropdown__ .sub-menu__ li a.wallet::before {
  content: url(../images/header_logedIn_menu/wallet.svg);
}
.dropdown__ .sub-menu__ li a.signout_link__ {
  color: #fe005d;
  margin-top: 10px;
}
.dropdown__ .sub-menu__ li a.signout_link__::before {
  content: url(../images/header_logedIn_menu/logout.svg);
}
.dropdown__:hover .sub-menu__ {
  visibility: visible;
  opacity: 1;
  z-index: 111;
}

.sing-up-blocks {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .sing-up-blocks {
    display: block;
  }
}
.sing-up-blocks .singup_link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #581b81;
  border: 1px solid #581b81;
  height: 48px;
  min-width: 162px;
  padding: 3px 20px;
  border-radius: 10px;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: 0.5s;
}
@media (max-width: 991px) {
  .sing-up-blocks .singup_link {
    border-radius: 0;
    margin-bottom: 0;
    height: 40px;
    min-width: 70px;
    font-size: 12px;
    padding: 3px 10px;
  }
}
.sing-up-blocks .singup_link:not(:last-child) {
  margin-inline-end: 16px;
}
@media (max-width: 991px) {
  .sing-up-blocks .singup_link:not(:last-child) {
    margin-inline-end: 0;
  }
}
.sing-up-blocks .singup_link:hover {
  background-color: rgba(88, 27, 129, 0.9);
  color: #fff;
}
.sing-up-blocks .singup_link.login_link {
  border-color: transparent;
  background-color: transparent;
  color: #2a313d;
  min-width: -moz-max-content;
  min-width: max-content;
  padding: 0;
}
.sing-up-blocks .singup_link.login_link:hover {
  color: #feb200;
}
@media (max-width: 991px) {
  .sing-up-blocks .singup_link.login_link {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    margin-bottom: 10px;
  }
}
.sing-up-blocks .singup_link .icon__ {
  background-color: transparent !important;
  margin-inline-end: 5px;
}
.sing-up-blocks.nav_sign_block__ {
  display: none;
}
@media (max-width: 991px) {
  .sing-up-blocks.nav_sign_block__ {
    display: block;
    margin-bottom: 30px;
  }
}

.header-logo {
  width: 57px;
  display: block;
  position: relative;
  z-index: 1;
}
@media (max-width: 991px) {
  .header-logo {
    width: 40px;
    margin: 0;
  }
}
.header-logo .figure__ {
  width: 100%;
}
.header-logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav-header-wraper {
  z-index: 1;
}
.nav-header-wraper .navbar-contact,
.nav-header-wraper .close-button,
.nav-header-wraper .nav-logo {
  display: none;
}
.nav-header-wraper .custom-nav-list {
  display: flex;
  margin-bottom: 0;
}
.nav-header-wraper .custom-nav-list > li:not(:last-child) {
  margin-inline-end: 33px;
}
@media (max-width: 1200px) {
  .nav-header-wraper .custom-nav-list > li:not(:last-child) {
    margin-inline-end: 15px;
  }
}
.nav-header-wraper .custom-nav-list > li > a {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.5s;
  padding: 10px 0;
  position: relative;
  display: block;
  transition: 0.5s;
}
.nav-header-wraper .custom-nav-list > li > a::before, .nav-header-wraper .custom-nav-list > li > a::after {
  position: absolute;
  content: "";
  background-color: #feb200;
  opacity: 0;
  transition: 0.5s;
}
.nav-header-wraper .custom-nav-list > li > a::before {
  top: 100%;
  height: 2px;
  width: 0%;
}
.nav-header-wraper .custom-nav-list > li > a::after {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  right: 0;
  top: 90%;
  transform: scale(0);
  transition: 0.2s;
}
.nav-header-wraper .custom-nav-list > li > a:hover {
  color: #feb200;
}
.nav-header-wraper .custom-nav-list > li > a:hover::before, .nav-header-wraper .custom-nav-list > li > a:hover::after {
  opacity: 1;
}
.nav-header-wraper .custom-nav-list > li > a:hover::before {
  width: 50%;
}
.nav-header-wraper .custom-nav-list > li > a:hover::after {
  transform: scale(1.1);
}
.nav-header-wraper .custom-nav-list > li.active > a {
  color: #feb200;
  font-weight: 500;
}
.nav-header-wraper .custom-nav-list > li.active > a::after, .nav-header-wraper .custom-nav-list > li.active > a::before {
  opacity: 1;
}
.nav-header-wraper .custom-nav-list > li.active > a::before {
  width: 50%;
}
.nav-header-wraper .custom-nav-list > li.active > a::after {
  transform: scale(1.1);
}

@media (max-width: 991px) {
  .nav-header-wraper {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 60%;
    z-index: 1111;
    padding: 20px;
    transition: 0.5s;
    overflow-y: auto;
    display: block;
    padding-top: 90px;
    background-color: #581b81;
  }
}
@media (max-width: 991px) and (max-width: 450px) {
  .nav-header-wraper {
    width: 90%;
  }
}
@media (max-width: 991px) {
  .nav-header-wraper .nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 150px;
  }
  .nav-header-wraper .nav-logo img {
    max-width: 100%;
    filter: brightness(0) invert(1);
  }
  .nav-header-wraper .navbar-contact,
  .nav-header-wraper .close-button {
    display: block;
  }
  .nav-header-wraper .bavbar-logo-om {
    display: flex;
    max-width: 100%;
    justify-content: center;
    margin-bottom: 50px;
    filter: brightness(0) invert(1);
  }
  .nav-header-wraper .bavbar-logo-om img {
    max-width: 100%;
  }
  html[dir=ltr] .nav-header-wraper {
    left: -100%;
    right: unset;
  }
  .nav-header-wraper.active-menu {
    right: 0;
  }
  html[dir=ltr] .nav-header-wraper.active-menu {
    left: 0;
    right: unset;
  }
  .nav-header-wraper .custom-nav-list {
    display: block;
    order: 3;
    width: 100%;
    margin: 0;
  }
  html[dir=ltr] .nav-header-wraper .custom-nav-list {
    margin: 0;
  }
  .nav-header-wraper .custom-nav-list > li {
    margin-inline-end: 0;
  }
  .nav-header-wraper .custom-nav-list > li.active > a::before {
    width: 100%;
    left: 0;
  }
  .nav-header-wraper .custom-nav-list > li:not(:last-child) {
    margin-inline-end: 0;
  }
  .nav-header-wraper .custom-nav-list > li > a {
    color: #fff !important;
    padding: 10px 25px;
    display: block;
    margin: 0;
  }
  .nav-header-wraper .custom-nav-list > li > a::after {
    content: none;
    display: none;
  }
  html[dir=ltr] .nav-header-wraper .custom-nav-list > li > a {
    margin: 0;
  }
  .nav-header-wraper .custom-nav-list > li > a:hover::before {
    width: 100%;
    left: 0px;
  }
  .nav-header-wraper .custom-nav-list > li > a:hover {
    background-color: transparent;
  }
  .nav-header-wraper .custom-nav-list > li:nth-child(odd) > a {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .nav-header-wraper .navbar-contact {
    padding-top: 10px;
    margin-bottom: 5px;
  }
  .nav-header-wraper .navbar-contact .navbar-contact-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #581b81;
    text-decoration: none;
    margin-bottom: 5px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
  }
}
@media (max-width: 991px) and (max-width: 450px) {
  .nav-header-wraper .navbar-contact .navbar-contact-block {
    padding: 10px 15px;
  }
}
@media (max-width: 991px) {
  .nav-header-wraper .navbar-contact .navbar-contact-block > figure {
    border-right: 1px solid;
    padding-right: 15px;
  }
}
@media (max-width: 991px) and (max-width: 450px) {
  .nav-header-wraper .navbar-contact .navbar-contact-block > figure {
    padding-right: 10px;
  }
}
@media (max-width: 991px) {
  .nav-header-wraper .navbar-contact .whatsapp-link {
    background-color: #25d366;
    color: #fff;
  }
  .nav-header-wraper .navbar-contact .whatsapp-link > figure svg {
    font-size: 20px;
  }
}
.menu-button {
  display: none;
}
@media (max-width: 991px) {
  .menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
  }
  .menu-button:hover {
    color: #feb200;
  }
  .menu-button svg {
    font-size: 35px;
  }
}

.custom-lang .lang-link .custom-figure {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-inline-end: 10px;
}

.toolbar-options {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  justify-content: flex-end;
}
@media (max-width: 991px) {
  .toolbar-options {
    margin-top: 0;
  }
}
.toolbar-options .custom-block.small-size-only {
  display: none;
}
@media (max-width: 991px) {
  .toolbar-options .custom-block.small-size-only {
    display: block;
  }
}
@media (max-width: 991px) {
  .toolbar-options .custom-block.larg-size-only {
    display: none;
  }
}
.toolbar-options .custom-block:not(:first-child) {
  margin-inline-start: 20px;
}
@media (max-width: 991px) {
  .toolbar-options .custom-block:not(:first-child) {
    margin-inline-start: 4px;
  }
}

.fixed-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
.fixed-header-wrapper.active_menu__, .fixed-header-wrapper.not_active_menu__ {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 111;
  transition: 0s;
  background-color: #581b81;
  z-index: 111;
  padding: 12.5px 30px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.06);
}
.fixed-header-wrapper.active_menu__ {
  animation: active-menu 0.5s;
}
.fixed-header-wrapper.not_active_menu__ {
  animation: not-active-menu 0.5s;
  top: -200px;
}

@keyframes active-menu {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}
@keyframes not-active-menu {
  0% {
    top: 0;
  }
  100% {
    top: -200px;
  }
}
.footer_sec__ {
  position: relative;
  padding: 66px 0 0;
  background-image: url(../images/footer-background.png);
  background-color: #581b81;
  background-blend-mode: overlay;
  background-size: cover;
}
@media (max-width: 991px) {
  .footer_sec__ {
    padding-top: 40px;
  }
}

.footer_head__ {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 30px;
}
.footer_head__::before, .footer_head__::after {
  background-color: #fff;
}
@media (max-width: 991px) {
  .footer_head__ {
    text-align: center;
  }
  .footer_head__::before, .footer_head__::after {
    left: 50%;
    transform: translateX(-50%);
    inset-inline-start: unset;
  }
}

.footer-logo__ {
  max-width: 200px;
  background-color: transparent !important;
  margin-bottom: 5px;
}
.footer-logo__ img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 991px) {
  .footer-logo__ {
    margin: 0 auto 30px;
    max-width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
  }
}

.footer_parg__ {
  width: 80%;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}
@media (max-width: 991px) {
  .footer_parg__ {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .footer_list__ {
    margin-bottom: 40px;
  }
}
.footer_list__ li {
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .footer_list__ li {
    margin-bottom: 10px;
  }
}
.footer_list__ a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: 0.5s;
  display: flex;
  align-items: center;
}
.footer_list__ a .figure__ {
  filter: brightness(0) invert(1);
}
.footer_list__ a::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  margin-inline-end: 5px;
}
@media (max-width: 991px) {
  .footer_list__ a {
    justify-content: center;
  }
}
.footer_list__ a:hover {
  opacity: 71%;
  padding-inline-start: 10px;
}
.footer_list__.contact_info a::before {
  display: none;
}
.footer_list__.contact_info a .figure__ {
  margin-inline-end: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_list__.contact_info a .figure__ img {
  max-width: 100%;
  max-height: 100%;
}

.copyrights_content___ {
  padding: 13px 0;
  border-top: 1px dashed rgba(255, 255, 255, 0.4);
}

.copyrights__ {
  color: #fff;
  margin: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .copyrights__ {
    padding: 20px 0;
    justify-content: center;
  }
}
.copyrights__.end__ {
  justify-content: flex-end;
}
@media (max-width: 991px) {
  .copyrights__.end__ {
    justify-content: center;
  }
}
.copyrights__ img {
  margin-inline-start: 10px;
}

.footer_socials__ {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer_socials__ .li__:not(:last-child) {
  margin-inline-end: 15px;
}
.footer_socials__ .link__ {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 8px;
}
.footer_socials__ .link__ img {
  opacity: 0.5;
  filter: brightness(0) invert(1) grayscale(1);
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer_socials__ .link__:hover {
  background-color: #fff;
}
.footer_socials__ .link__:hover img {
  filter: none;
}

.custom-input {
  height: 52px;
  border: solid 1px #d9e0e5;
  background-color: #f2f2f2;
  outline: none;
  width: 100%;
  font-size: 14px;
  color: #2a313d;
  padding: 20px 29px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 30px;
}
.custom-input:focus, .custom-input:hover {
  border-color: #581b81;
}
.custom-input::-moz-placeholder {
  color: #909090;
}
.custom-input::placeholder {
  color: #909090;
}

.custom-textarea {
  height: 144px;
  resize: none;
  width: 100%;
  border: 1px solid #d9e0e5;
  border-radius: 30px;
  padding: 20px 15px;
}
.custom-textarea:focus {
  outline: 0;
}

.submit-button {
  color: #fff;
  background: #581b81;
  border: none;
  cursor: pointer;
  font-size: 17px;
  transition: 0.5s;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  padding: 0 30px;
  height: 56px;
  width: 100%;
  border-radius: 30px;
  min-width: 180px;
}
.submit-button .icon__ {
  flex-shrink: 0;
  margin-inline-start: 5px;
  transition: 0.5s;
}
.submit-button:hover {
  background-color: rgba(88, 27, 129, 0.9);
}
.submit-button:focus {
  border: none;
  outline: none;
}
.submit-button.full_width__ {
  width: 100%;
}
.submit-button.fixed_size__ {
  min-width: 140px;
}
@media (max-width: 991px) {
  .submit-button.full_width_sm__ {
    min-width: 100%;
    width: 100%;
  }
}
.submit-button.secondaryColorButton {
  background-color: #feb200;
}
.submit-button.secondaryColorButton:hover {
  background-color: rgba(254, 178, 0, 0.9);
}
.submit-button.cancellation_button {
  background-color: #fff;
  color: #333743;
  border: 1px solid #d9e0e5;
}
.submit-button.cancellation_button:hover {
  background-color: rgba(51, 55, 67, 0.05);
}
.submit-button.like_button__ {
  min-width: 100px;
  height: 40px;
  background-color: #ecfddc;
  border: 1px solid #581b81;
  color: #581b81;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}
@media (max-width: 991px) {
  .submit-button.like_button__ {
    min-width: 192.6px;
  }
}
.submit-button.like_button__ .icon__ {
  margin: 0;
  margin-inline-end: 5px;
}
.submit-button.like_button__:hover {
  background-color: rgba(88, 27, 129, 0.09);
}
.submit-button.modify_button__ {
  border-radius: 5px;
  border: 1px solid #feb200;
  color: #feb200;
  height: 32px;
  min-width: 87px;
}
.submit-button.modify_button__:hover {
  background-color: rgba(254, 178, 0, 0.1);
}
.submit-button.delete_button__ {
  border-radius: 5px;
  border: 1px solid #f54748;
  color: #f54748;
  height: 32px;
  min-width: 87px;
}
.submit-button.delete_button__:hover {
  background-color: rgba(245, 71, 72, 0.1);
}
.submit-button.call_button {
  font-size: 12px;
  min-width: 95px;
  height: 40px;
  background-color: #e6f9fa;
  border-radius: 5px;
  border: 1px solid #feb200;
  color: #feb200;
  cursor: pointer;
}
.submit-button.call_button .phone_icon {
  margin-inline-end: 11px;
  fill: #feb200;
  transition: 0.5s;
}
.submit-button.call_button:hover {
  color: #fff;
  background-color: #22b1bf;
}
.submit-button.call_button:hover .phone_icon {
  fill: #fff;
}
.submit-button.call_button:hover .phone_icon {
  fill: #fff;
}
.submit-button.send_button {
  border: 0;
  background-color: #581b81;
  padding: 10px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.5s;
}
.submit-button.send_button:hover {
  background-color: rgba(88, 27, 129, 0.9);
}

.form-wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #fcfcfc;
  border-radius: 25px;
  padding: 30px;
  border: 1px solid #f0f1f6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
@media (max-width: 991px) {
  .form-wrapper {
    padding: 20px;
    border-radius: 20px;
    width: 80%;
  }
}
@media (max-width: 450px) {
  .form-wrapper {
    width: 100%;
  }
}

.form-heading .site-heading .form-subtitle {
  font-size: 22px;
  color: #35253f;
  font-weight: bold;
}

.form-image {
  margin-bottom: 20px;
}
.form-image img {
  -o-object-fit: contain;
     object-fit: contain;
}
.form-image.small_size_image__ {
  max-width: 259px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-bottom: 44%;
  margin-top: 30px;
}

.default_form__ {
  max-width: 510px;
}

.main_form__ {
  max-width: 970px;
}

.form_title__ {
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .form_title__ {
    text-align: center;
  }
}
.form_title__ .sub_title__ {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #581b81;
}
@media (max-width: 767px) {
  .form_title__ .sub_title__ {
    font-size: 16px;
  }
}
.form_title__ .title__ {
  font-size: 28px;
  color: #333743;
  margin-bottom: 0;
  font-weight: bold;
}
.form_title__ .title__.title_first__ {
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .form_title__ .title__ {
    font-size: 22px;
  }
}
.form_title__ .parg__ {
  font-size: 16px;
  color: #adadad;
  margin-bottom: 0;
}
.form_title__ .parg__.not_full_width__ {
  max-width: 80%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .form_title__ .parg__.not_full_width__ {
    max-width: 100%;
  }
}
.form_title__ .link__ {
  font-size: 14px;
  color: #581b81;
  margin-top: 10px;
}
.form_title__.centered {
  text-align: center;
}

.input_group__ {
  margin-bottom: 20px;
}
.input_group__.flex_group__ {
  display: flex;
  align-items: center;
}
.input_group__.flex_group__.group_gap__ {
  gap: 20px;
}
.input_group__.none_margin__ {
  margin: 0;
}

.final_buttons_wrapper__ {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input_group_unit__ {
  display: flex;
  align-items: center;
}
.input_group_unit__ .input__ {
  border-radius: 0 10px 10px 0;
}
html[dir=ltr] .input_group_unit__ .input__ {
  border-radius: 10px 0 0 10px;
}
.input_group_unit__ .unit__ {
  min-width: 67px;
  height: 56px;
  border-radius: 10px 0 0 10px;
  border: 1px solid #d9e0e5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
}

.label__ {
  color: #333743;
  font-size: 15px;
  margin-bottom: 15px;
  display: block;
}
.label__ .optional__ {
  font-size: 13px;
  color: #767676;
  margin-inline-start: 5px;
}
.label__.centered {
  text-align: center;
}

.password-group-om {
  position: relative;
}
.password-group-om .input__ {
  padding-inline-end: 40px;
}
.password-group-om .show-password-button-om {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  outline: none;
  width: 36px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #969696;
}
html[dir=ltr] .password-group-om .show-password-button-om {
  left: unset;
  right: 0;
}
.password-group-om .show-password-button-om:focus {
  outline: none;
}
.password-group-om .show-password-button-om.show-om {
  color: #feb200;
}

.icon_input_group {
  position: relative;
}
.icon_input_group .input__,
.icon_input_group .textarea-om {
  padding-inline-start: 55px;
}
.icon_input_group::after {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 50%;
  inset-inline-start: 15px;
  transform: translateY(-50%);
  filter: grayscale(1);
  pointer-events: none;
}
.icon_input_group.name__::after {
  content: url(../images/shapes/user.svg);
}
.icon_input_group.phone__::after {
  content: url(../images/shapes/input_phone_icon.svg);
}
.icon_input_group.password__::after {
  content: url(../images/shapes/password.svg);
}
.icon_input_group.textarea__::after {
  content: url(../images/shapes/textarea.svg);
  top: 20px;
  transform: unset;
}
.icon_input_group:focus-within::after {
  filter: none;
}

.drag_file_upload .drag_file_label {
  border: 1px solid #d9e0e5;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.drag_file_upload .drag_file_label .head__ {
  display: flex;
  align-items: center;
  padding: 17px 15px;
}
.drag_file_upload .drag_file_label .head__ .icon__ {
  margin-inline-end: 12px;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #f2f3fc;
}
.drag_file_upload .drag_file_label .head__ .head_info .title {
  font-size: 14px;
  margin-bottom: 10px;
  color: #2a313d;
  font-weight: 600;
}
.drag_file_upload .drag_file_label .head__ .head_info .upload_rules {
  font-size: 12px;
  color: #767676;
  margin: 0;
}
.drag_file_upload .drag_file_label .uploaded_files {
  padding: 17px 15px;
  border-top: 1px solid #d9e0e5;
}
.drag_file_upload .drag_file_label .uploaded_files .strip {
  display: flex;
  align-items: center;
}
.drag_file_upload .drag_file_label .uploaded_files .strip .icon__ {
  margin-inline-end: 12px;
}
.drag_file_upload .drag_file_label .uploaded_files .strip .file_name {
  margin: 0;
  font-size: 12px;
  color: #2a313d;
}
.drag_file_upload .drag_file_label .uploaded_files .strip .file_name .file_size {
  color: #767676;
  margin-inline-start: 5px;
}
.drag_file_upload .drag_file_label .uploaded_files .strip .delete_file_button {
  background-color: transparent;
  border: 0;
  margin-inline-start: auto;
  display: flex;
  align-items: center;
  color: #f54748;
  font-size: 12px;
  cursor: pointer;
  transition: 0.5s;
}
.drag_file_upload .drag_file_label .uploaded_files .strip .delete_file_button .icon__ {
  margin-inline-start: 7px;
}
.drag_file_upload .drag_file_label .uploaded_files .strip .delete_file_button:hover {
  text-decoration: underline;
}
.drag_file_upload .drag_file_label .uploaded_files .strip:not(:last-child) {
  margin-bottom: 10px;
}
.drag_file_upload .drug_file_input {
  display: none;
}

.message_input_block {
  padding: 20px;
  border-top: 1px solid #d9e0e5;
}
.message_input_block .messsage_input_form {
  position: relative;
}
.message_input_block .form_buttons_wrapper__ {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  inset-inline-end: 10px;
  transform: translateY(-50%);
}
.message_input_block .label_for_file_input {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-inline-end: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header {
  background-color: #581b81;
  position: relative;
}
.main-header::before, .main-header::after {
  position: absolute;
  content: "";
  top: -50%;
  left: 0;
  background-image: url(/images/figure-top.png);
  width: 100%;
  height: 100%;
}
.main-header::after {
  left: 9%;
  top: -71%;
}
.main-header .header-toolbar-wraper {
  display: flex;
  justify-content: end;
  gap: 20px;
}
@media (max-width: 991px) {
  .main-header .header-toolbar-wraper {
    display: none;
  }
}
.main-header .header-toolbar-wraper .toolbar-contact-block {
  display: flex;
  gap: 10px;
}
.main-header .header-toolbar-wraper .toolbar-contact-block span {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 20px;
  color: #fff;
}
.main-header .header-toolbar-wraper .toolbar-contact-block a {
  width: 40px;
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.main-header .header-toolbar-wraper .toolbar-contact-block a:hover .toolbar-contact-block span {
  color: red;
}
.main-header .header-toolbar-wraper .toolbar-contact-block .phone-link {
  background-color: #fff;
  color: #581b81;
}
.main-header .header-toolbar-wraper .toolbar-contact-block .phone-link figure svg {
  font-size: 19px;
}
.main-header .header-toolbar-wraper .toolbar-contact-block .whatsapp-link {
  background-color: #25d366;
  color: #fff;
}
.main-header .header-toolbar-wraper .toolbar-contact-block .whatsapp-link figure svg {
  font-size: 25px;
}
.main-header .fixed-header-wraper {
  padding-top: 20px;
}

.section-shape {
  width: 230px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.08);
  position: absolute;
  border-radius: 115px;
  top: 29%;
  left: 5%;
  transform: rotate(45deg);
}
@media (max-width: 991px) {
  .section-shape {
    top: 38%;
    left: 6%;
  }
}

.home-header {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #581b81;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
@media (max-width: 1200px) {
  .home-header {
    -webkit-clip-path: none;
            clip-path: none;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    padding-top: 26.6666666667px;
    padding-bottom: 40px;
  }
}
.home-header .home-header-desc {
  position: relative;
}
@media (max-width: 991px) {
  .home-header .home-header-desc {
    margin-bottom: 70px;
  }
}
.home-header .home-header-desc::before {
  position: absolute;
  content: "";
  top: -28%;
  left: 80%;
  background-image: url(/images/figure.png);
  width: 100%;
  height: 100%;
}
.home-header .home-header-desc .site-heading .title {
  font-size: 35px;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 991px) {
  .home-header .home-header-desc .site-heading .title {
    font-size: 25px;
  }
}
.home-header .home-header-desc .site-heading .title #auto-text {
  color: #feb200;
}
.home-header .home-header-desc .site-heading .subtitle {
  font-size: 20px;
  color: #fff;
  font-weight: normal;
}
.home-header .home-header-desc .button-link {
  color: #fff;
  border: 1px solid #fff;
}
.home-header .home-header-desc .button-link:hover {
  background-color: #feb200;
  color: #581b81;
  border: 1px solid #581b81;
}

.services-wraper .row div:nth-of-type(1) .service-block {
  background-color: #faecf4;
}
.services-wraper .row div:nth-of-type(2) .service-block {
  background-color: #ebf9f5;
}
.services-wraper .row div:nth-of-type(3) .service-block {
  background-color: #fef8eb;
}
.services-wraper .row div:nth-of-type(4) .service-block {
  background-color: #ebf1fc;
}

.service-block {
  cursor: pointer;
  padding: 35px 35px 50px 45px;
  min-height: 330px;
  position: relative;
  border-radius: 30px;
  transition: 0.5s;
  margin: 10px;
}
@media (max-width: 450px) {
  .service-block {
    padding: 20px;
  }
}
@media (max-width: 450px) {
  .service-block {
    height: initial;
  }
}
.service-block::before {
  position: absolute;
  content: "";
  background-image: url(/images/Group\ 7890.png);
  background-repeat: no-repeat;
  left: 0;
  height: 20%;
  width: 50%;
}
.service-block:hover {
  transform: scale(1.05);
}
.service-block:hover figure img {
  transition: 0.5s;
  transform: scale(1.2);
}
.service-block .title {
  font-size: 20px;
  color: #35253e;
  padding-bottom: 20px;
}
.service-block .parg {
  color: #35253e;
  font-size: 16px;
}

.home-gallary {
  background-color: #f8f6f9;
}
.home-gallary .main-gallary-button {
  text-align: center;
}

.gallary-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.gallary-buttons .button-link {
  padding: 12px 30px;
  color: #35253e;
  background-color: transparent;
  border: 1px solid #bfb9c3;
}
.gallary-buttons .button-link:hover {
  background-color: #feb200;
  border-color: #feb200;
}

.gallary-wraper {
  margin-top: 30px;
  margin-bottom: 30px;
}
.gallary-wraper .gallary-link {
  transition: 0.5s;
}
.gallary-wraper .gallary-link .figure-effect {
  transition: 0.5s;
}
.gallary-wraper .gallary-link .figure-effect .inner-overlay {
  position: absolute;
  display: block;
  content: "";
  background-color: rgba(255, 0, 0, 0.349);
  width: 0%;
  height: 100%;
  top: 0;
  right: 0;
  transition: 0.5s;
}
.gallary-wraper .gallary-link .figure-effect .absolute-text {
  position: absolute;
  bottom: -100%;
  left: 33%;
  z-index: 1;
  color: #fff;
  transition: 0.5s;
}
.gallary-wraper .gallary-link .figure-effect .absolute-texth3 {
  font-size: 18px;
}
@media (max-width: 450px) {
  .gallary-wraper .gallary-link .figure-effect .absolute-texth3 {
    font-size: 14px;
  }
}
.gallary-wraper .gallary-link .figure-effect .absolute-text .details {
  font-size: 14px;
  display: flex;
  gap: 10px;
}
@media (max-width: 450px) {
  .gallary-wraper .gallary-link .figure-effect .absolute-text .details {
    font-size: 12px;
  }
}
.gallary-wraper .gallary-link:hover .figure-effect .absolute-text {
  bottom: 10%;
}
.gallary-wraper .gallary-link:hover .figure-effect .inner-overlay {
  width: 100%;
}

.blog-box {
  box-shadow: 3px 3px 5px 4px rgba(240, 237, 243, 0.6588235294);
  border-radius: 25px;
  transition: 0.5s;
  padding: 10px 10px 25px 10px;
  background-color: #f9f9f9;
  margin-bottom: 40px;
}
.blog-box:hover {
  box-shadow: 3px 3px 5px 2px rgba(88, 27, 129, 0.3647058824);
}
.blog-box:hover .figure-effect img {
  transform: scale(1.1);
}
.blog-box:hover .more-info {
  background-color: #feb200;
  color: #fff;
}
.blog-box .title {
  color: #35253f;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.blog-box .details {
  display: flex;
  gap: 30px;
  font-size: 16px;
  color: #a8a8a8;
}
.blog-box .details .view {
  display: flex;
  gap: 10px;
}
.blog-box .parg {
  font-size: 16px;
  color: #a8a8a8;
}

.more-info {
  display: flex;
  align-items: center;
  padding: 8px 19px;
  outline: none;
  border: none;
  border-radius: 25px;
  color: #581b81;
  background-color: #f0edf3;
  transition: 0.5s;
}
.more-info figure {
  margin: auto;
  margin-inline-start: 10px;
}

.partners-block .figure-effect img {
  -o-object-fit: contain;
     object-fit: contain;
}
.partners-block:hover .figure-effect img {
  transform: scale(1.1);
}

.general-swiper {
  padding-top: 200px !important;
  margin-top: -200px !important;
}
.general-swiper .arrow-swiper {
  position: relative;
  top: -80px;
  left: -90%;
}
@media (max-width: 991px) {
  .general-swiper .arrow-swiper {
    top: 5px;
    left: -50%;
  }
}
.general-swiper .arrow-swiper .swiper-button-prev {
  position: absolute !important;
  right: 0% !important;
  top: 0 !important;
  margin-right: -40px;
}
.general-swiper .arrow-swiper .swiper-button-next {
  position: absolute !important;
  right: 0 !important;
  top: 0;
  cursor: pointer;
  margin-right: 35px;
}
.general-swiper .swiper-button-next::after,
.general-swiper .swiper-button-prev::after {
  display: none;
}
.general-swiper .swiper-button-next svg,
.general-swiper .swiper-button-prev svg {
  width: 100% !important;
  height: 50% !important;
  padding: 0px 18px;
  outline: none;
  border: none;
  border-radius: 12px;
  color: #581b81;
  background-color: #f0edf3;
  transition: 0.5s;
}
.general-swiper .swiper-button-next svg:hover,
.general-swiper .swiper-button-prev svg:hover {
  background-color: #581b81;
  color: #fff;
}

.swiper-grid-2 .swiper-slide {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.swiper-grid-2 .swiper-wrapper {
  flex-direction: row !important;
}
.swiper-grid-2 .swiper-slide {
  height: 50% !important;
}

.home-contact-us {
  position: relative;
}
.home-contact-us .section-shape {
  background-color: rgba(252, 252, 252, 0.4784313725);
  top: -9%;
  right: -5%;
}

.contact-us-wrapper {
  display: flex;
  padding-left: calc((100vw - 1200px + 30px) / 2);
}
@media (max-width: 991px) {
  .contact-us-wrapper {
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .contact-us-wrapper {
    padding-left: 80px;
  }
}
@media (max-width: 991px) {
  .contact-us-wrapper {
    padding: 0 15px;
  }
}

.form-wrapper,
.form-image {
  position: relative;
}
.form-wrapper::before,
.form-image::before {
  position: absolute;
  content: "";
  width: 56px;
  height: 56px;
  border-radius: 20px;
}

.form-wrapper::before {
  top: 0%;
  left: 14%;
  background-color: #f9ebbf;
}
.form-wrapper::after {
  position: absolute;
  content: "";
  width: 56px;
  height: 56px;
  border-radius: 20px;
  background-color: #e6ddec;
  top: 33%;
  left: -12%;
}
@media (max-width: 450px) {
  .form-wrapper::before, .form-wrapper::after {
    display: none;
  }
}

.form-image {
  width: 100%;
}
@media (max-width: 991px) {
  .form-image .figure-img {
    justify-content: center;
  }
}
.form-image::before {
  background-color: #c2e4fe;
  top: 7%;
  left: 8%;
}

.company-recorded-wrapper {
  background-color: #f8f5f9;
  padding: 40px 120px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media (max-width: 1200px) {
  .company-recorded-wrapper {
    padding: 20px 30px;
  }
}
@media (max-width: 450px) {
  .company-recorded-wrapper {
    padding: 10px 0px;
  }
}
.company-recorded-wrapper .site-heading {
  margin-bottom: 0;
}
.company-recorded-wrapper .site-heading .title {
  text-align: center;
}

.company-footer {
  background-color: #581b81;
  position: relative;
}
.company-footer::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-image: url(/images/logo033.webp);
}
.company-footer.custom-section {
  margin-bottom: 0;
  padding-bottom: 30px;
}
@media (max-width: 991px) {
  .company-footer .footer-wrapper {
    text-align: center;
  }
}
.company-footer .company-info .parg {
  font-size: 14px;
  color: #adadad;
}
.company-footer .footer-title {
  margin-bottom: 5px;
  margin-top: 20px;
}
.company-footer .footer-title .title {
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 20px;
  color: #fff;
}
.company-footer .footer-title span {
  background-color: #5d317b;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}
.company-footer .footer-title span:nth-of-type(2) {
  width: 8px;
  height: 8px;
}
.company-footer .footer-title span:nth-of-type(3) {
  width: 6px;
  height: 6px;
}
.company-footer .block-contact-info {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
@media (max-width: 991px) {
  .company-footer .block-contact-info {
    justify-content: center;
  }
}
.company-footer .block-contact-info figure {
  margin: 0;
}
.company-footer .block-contact-info h5 {
  font-size: 14px;
  color: #fff;
}

.social-block {
  display: flex;
  gap: 32px;
  color: #fff;
}
@media (max-width: 991px) {
  .social-block {
    justify-content: center;
  }
}
.social-block figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #5d317b;
  cursor: pointer;
  transition: 0.5s;
}
.social-block .facebook-icon:hover {
  background-color: #4979ba;
}
.social-block .linkedin-icon:hover {
  background-color: #2279ef;
}
.social-block .instagram-icon:hover {
  background-color: #fd1d1d;
}
.social-block .twitter-icon:hover {
  background-color: #2abdf4;
}

.copyright {
  padding: 10px;
  background-color: #5d317b;
  color: #fff;
  width: 50%;
  text-align: center;
  margin: auto;
  border-radius: 30px;
}

.about-us-info-img .info p {
  font-size: 18px;
  color: #606060;
}

.about-us-appendix {
  margin-top: 50px;
}

.block-appendix-info {
  border: 5px solid #f2edf5;
  border-radius: 30px;
  position: relative;
  padding: 80px 20px 20px 20px;
}
@media (max-width: 991px) {
  .block-appendix-info {
    margin-bottom: 80px;
  }
}
@media (max-width: 450px) {
  .block-appendix-info {
    margin-bottom: 45px;
    padding: 60px 20px 20px 20px;
  }
}
.block-appendix-info figure {
  position: absolute;
  top: -22%;
  right: -1%;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  display: flex;
  padding: 25px;
  border: 4px solid #f2edf5;
}
@media (max-width: 450px) {
  .block-appendix-info figure {
    top: -8%;
    width: 80px;
    height: 80px;
    padding: 14px;
  }
}

.page-services .more-info {
  font-size: 15px;
  display: none;
  justify-content: center;
  background-color: #fff;
  color: #35253e;
}
.page-services .more-info figure {
  display: inline-block;
}
.page-services .more-info:hover {
  background-color: #feb200;
  color: #fff;
}

@media (max-width: 450px) {
  .programming-web-info .site-heading-wrapper.with-figure {
    margin-right: 10px;
  }
  .programming-web-info .site-heading-wrapper.with-figure .site-heading figure::before {
    left: 10px;
  }
}
.programming-web-info p {
  font-size: 18px;
  color: #606060;
}

.request-sercvice {
  position: relative;
}
.request-sercvice::after {
  position: absolute;
  content: "";
  width: 56px;
  height: 56px;
  border-radius: 20px;
  background-color: #c2e4fe;
  bottom: 10%;
  right: 1%;
}
.request-sercvice .form-wrapper::after {
  top: 59%;
  left: -5%;
}
.request-sercvice .form-wrapper::before {
  top: -5%;
  left: 23%;
}
.request-sercvice .form-wrapper .text-email {
  display: flex;
  gap: 20px;
}
@media (max-width: 450px) {
  .request-sercvice .form-wrapper .text-email {
    flex-direction: column;
    gap: 0;
  }
}
.request-sercvice .form-wrapper .submit-button {
  width: 30%;
  margin: auto;
}

.programming-mobile-info .site-heading-wrapper.with-figure .site-heading figure::before {
  left: 0px;
}

.block-modal {
  background-color: #f8f6fa;
  padding: 50px 30px 50px 30px;
  border-radius: 30px;
  text-align: center;
  position: relative;
  margin: 20px;
}
.block-modal::before {
  position: absolute;
  content: "";
  width: 70%;
  height: 10px;
  background-color: #ece5f0;
  border-radius: 30px;
  left: 13%;
  top: 0;
}
.block-modal .title {
  font-size: 20px;
  color: #35253e;
  margin-bottom: 20px;
}
.block-modal p {
  margin-bottom: 35px;
  color: #606060;
  line-height: 1.9;
}
.block-modal .button-link {
  padding: 12px 43px;
  background-color: #fff;
  color: #581b81;
}
.block-modal .button-link:hover {
  background-color: #581b81;
  color: #fff;
}

.block-feature {
  min-height: 325px;
  text-align: center;
  position: relative;
  padding: 90px 20px 30px 20px;
  border: 5px solid #f2edf5;
  border-radius: 30px;
}
@media (max-width: 450px) {
  .block-feature {
    min-height: 225px;
    padding: 60px 10px 20px 10px;
  }
}
.block-feature figure {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 5px solid #f2edf5;
  padding: 33px;
  border-radius: 50%;
}
@media (max-width: 450px) {
  .block-feature figure {
    padding: 20px;
  }
}
.block-feature figure img {
  width: 55px;
  height: 55px;
  -o-object-fit: contain;
     object-fit: contain;
}
.block-feature .title {
  font-size: 20px;
  color: #35253e;
  margin-bottom: 20px;
}
.block-feature p {
  margin-bottom: 35px;
  color: #606060;
  line-height: 1.9;
}

.feature-swiper.general-swiper {
  margin-top: -125px !important;
}
.feature-swiper.general-swiper .arrow-swiper {
  top: -165px;
}
@media (max-width: 991px) {
  .feature-swiper.general-swiper .arrow-swiper {
    top: -100px;
  }
}

.gallary-page .gallary-buttons {
  justify-content: start;
}
@media (max-width: 991px) {
  .gallary-page .gallary-buttons {
    justify-content: center;
  }
}

.gallary-swiper.general-swiper {
  padding-top: 0 !important;
  margin-top: 0 !important;
  padding-bottom: 50px !important;
  margin-bottom: 50px !important;
}
.gallary-swiper.general-swiper .arrow-swiper {
  top: 30px;
  left: -48%;
}
.gallary-swiper.general-swiper .arrow-swiper .swiper-button-next {
  margin-right: 105px;
}
.gallary-swiper.general-swiper .arrow-swiper .swiper-button-prev {
  margin-right: -85px;
}
.gallary-swiper .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #beb5c7;
  font-weight: bolder;
  opacity: 1;
  background-color: transparent;
}
.gallary-swiper .swiper-pagination-bullet-active {
  color: #fff;
  background: #581b81;
}

.estudy-info .button-link figure {
  position: relative;
}
.estudy-info .button-link figure::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  border: 1px solid;
  border-radius: 50%;
  top: 1px;
  left: -40%;
}
@media (max-width: 450px) {
  .estudy-info .button-link figure::before {
    width: 25px;
    height: 25px;
    top: -2px;
    left: -30%;
  }
}
.estudy-info .button-link figure::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  bottom: 0px;
  right: -5px;
}
@media (max-width: 450px) {
  .estudy-info .button-link figure::after {
    width: 4px;
    height: 4px;
    bottom: -1px;
    right: -3px;
  }
}
.estudy-info p {
  font-size: 18px;
  color: #606060;
}

.estudy-img figure {
  text-align: center;
}
.estudy-img figure img {
  max-width: 100%;
  max-height: 100%;
}

.blog-details-page .details {
  display: flex;
  gap: 15px;
}
.blog-details-page .details .watches {
  display: flex;
  gap: 5px;
}

.blog-details-wrapper .blog-box {
  padding: 10px;
}
.blog-details-wrapper .blog-box figure {
  overflow: hidden;
  border-radius: 20px;
  margin: 0;
  cursor: pointer;
}
.blog-details-wrapper .blog-box figure img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}
.blog-details-wrapper .blog-box figure img:hover {
  transform: scale(1.1);
}
.blog-details-wrapper p {
  font-size: 16px;
  color: #a1a1a1;
}
.blog-details-wrapper .parg {
  font-size: 18px;
  color: #35253e;
}

.about-article {
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 450px) {
  .about-article {
    flex-direction: column;
    margin: auto;
    width: 70%;
  }
}
.about-article .button-link {
  background-color: #efefef;
  color: #666666;
  padding: 12px 30px;
}
.about-article .useful :hover {
  color: #06c014;
  background-color: #e5f9e7;
}
.about-article .unuseful :hover {
  color: rgb(199, 43, 43);
  background-color: #dddada;
}

.contact-us-page {
  position: relative;
}
.contact-us-page .section-shape {
  background-color: rgba(252, 252, 252, 0.4784313725);
  top: -9%;
  right: -5%;
}

.block-contact {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .block-contact {
    justify-content: center;
  }
}
.block-contact .block-info {
  margin-right: 10px;
  font-size: 20px;
  text-align: center;
}
.block-contact .block-info h5 {
  color: #35253e;
}
.block-contact .block-info span {
  color: #581b81;
}
.block-contact figure {
  position: relative;
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #5d317b;
  cursor: pointer;
  transition: 0.5s;
  font-size: 40px;
  color: #fff;
}
.block-contact figure::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  bottom: -7.5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5d317b;
}
.block-contact.whatsapp figure {
  background-color: #25d366;
}
.block-contact.whatsapp figure::after {
  background-color: #25d366;
}
.block-contact.whatsapp .block-info span {
  color: #25d366;
}
.block-contact.message figure {
  background-color: #35253e;
}
.block-contact.message figure::after {
  background-color: #35253e;
}
.block-contact.message .block-info span {
  color: #35253e;
}

.title-map {
  font-size: 20px;
  color: #35253e;
}
.title-map span {
  color: #581b81;
}

iframe {
  width: 100%;
  max-width: 100%;
}/*# sourceMappingURL=main.css.map */