//component for custom padding and margin
.custom-section {
  padding-top: $padding-sction;
  margin-bottom: $margin-section;
}
@include widthScreen(large) {
  .custom-section {
    padding-top: calc($padding-sction/2);
    margin-bottom: calc($margin-section/2);
  }
}
@include widthScreen(mobile) {
  .custom-section {
    padding-top: calc($padding-sction/4);
    margin-bottom: calc($margin-section/5);
  }
}

.site-heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  @include widthScreen(medium) {
    flex-direction: column;
  }
  .site-heading {
    margin-bottom: 0;
    padding-top: 10px;
  }
}

.site-heading {
  margin-bottom: $smallMargin;
  padding-bottom: 10px;
  @include widthScreen(medium) {
    text-align: center;
  }
  .title {
    font-size: $titleFont;
    font-weight: $titlefontWeight;
    color: $primaryColor;

    @include widthScreen(medium) {
      font-size: 25px;
    }
  }
  .subtitle {
    font-size: $subtitleFont;
    color: $subtitleColor;
    font-weight: $subtitlefontWeight;
  }
}

.arrow-sec {
  display: flex;
  align-items: center;

  .swiper-button-prev,
  .swiper-button-next {
    transform: unset;
    margin: 0;
    position: static;
    margin-inline-start: 10px;
    flex-shrink: 0;
  }
}
// Site Heading with figure
.site-heading-wrapper {
  &.with-figure {
    .site-heading {
      display: flex;
      gap: 10px;
      & figure {
        position: relative;
        @include widthScreen(mobile) {
          img {
            width: 70px;
            height: 70px;
          }
        }

        &::before {
          position: absolute;
          content: "";
          width: 120px;
          height: 120px;
          background-color: #f9e9f3;
          top: 0px;
          left: 40px;
          border-radius: 50%;
          z-index: -1;
          @include widthScreen(mobile) {
            width: 75px;
            height: 75px;
          }
        }
      }
      & .title {
        width: 50%;
        color: $innerTextColor;
      }
    }
  }
}
// Site Heading with date-info
.site-heading-wrapper {
  &.info {
    .site-heading {
      .date-info {
        span {
          color: #a8a8a8;
          font-size: 20px;
        }
      }
    }
  }
}
