@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai-Light.ttf") format("ttf"),
    url("../fonts/Almarai-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai-Regular.ttf") format("ttf"),
    url("../fonts/Almarai-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai-Bold.ttf") format("ttf"),
    url("../fonts/Almarai-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai-ExtraBold.ttf") format("ttf"),
    url("../fonts/Almarai-ExtraBold.ttf") format("ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
