.page-services {
  .more-info {
    font-size: 15px;
    display: none;
    justify-content: center;
    background-color: #fff;
    color: #35253e;
    & figure {
      display: inline-block;
    }
    &:hover {
      background-color: $secondaryColor;
      color: #fff;
    }
  }
}
// Start programming web
.programming-web-info {
  p {
    font-size: 18px;
    color: #606060;
  }
}
.request-sercvice {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 56px;
    height: 56px;
    border-radius: 20px;
    background-color: #c2e4fe;
    bottom: 10%;
    right: 1%;
  }
  & .form-wrapper {
    &::after {
      top: 59%;
      left: -5%;
    }
    &::before {
      top: -5%;
      left: 23%;
    }
    & .text-email {
      display: flex;
      gap: 20px;
      @include widthScreen(mobile) {
        flex-direction: column;
        gap: 0;
      }
    }
    .submit-button {
      width: 30%;
      margin: auto;
    }
  }
}

// end programming web
