// main colors
$primaryColor: #581b81;
$secondaryColor: #feb200;
$backgroundSection: #f8f6f9;
/////
$borderColor: #d9e0e5;
$mainRedColor: #f54748;
$redColor: #f54748;
$mainGreenColor: #5ebc0d;

// head colors
$subtitleColor: #a8a8a8;
$innerTextColor: #35253e;
/////
$headingMainColor: #2a313d;
$headingSecondaryColor: #333743;
$headingThirdColor: #2a2929;

//parag Colors
$paragraphMainColor: #adadad;
////////
$paragraphSecondaryColor: #767676;
$borderBreakColor: #d9e0e5;

//border radius
$mainBorderRadius: 10px;
$secondaryBorderRadius: 30px;

$mainBackgroundColor: #f2f3fc;

// box shadow
$mainBoxShadow: 0 2px 5px rgba(#000, 0.04);
$dir: "ltr";

//main Transition
$mainTransition: 0.5s;

//Padding
$padding-sction: 80px;

//Margin
$margin-section: 70px; //Main fonts

//Fonts
$secondaryFont: 16px;
$titleFont: 30px;
$titlefontWeight: 400;
$subtitleFont: 20px;
$subtitlefontWeight: normal;
$pargFont: 16px;
$boldfont: bold;

//margin
$smallMargin: 50px;

//form colors
$bgColorform: #fcfcfc;
$bgColorInputs: #f2f2f2;
$palceholderColor: #909090;
//brand Colors
$whatsappColor: #25d366;
$twitterColor: #2abdf4;
$facebookColor: #4979ba;
$linkedinColor: #2279ef;
$instagramColor: #fd1d1d;

$borderBreakColor: #d9e0e5;
